PORT=3000
DATABASE_URL="mysql://root:@127.0.0.1:3306/prisma"
JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRE="10s"
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRE="15d"
BCRYPT_SALT_ROUND=10
DEFAULT_PAGE_LIMIT=5
MAX_PAGE_LIMIT=10
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""
CORS_ORIGIN="['http://localhost:5174', 'http://localhost:5173']"